/node_modules/
/build/
/lib/
/dist/
/docs/
/src/config/*.test.ts
/src/config/*.staging.ts
/src/config/*.uat.ts
/src/config/*.production.ts
.idea/*

.DS_Store
coverage
*.log
.env
.env.test
.vscode
package-lock.json
yarn.lock
.scannerwork/

/coverage